body {
	font: 14px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
}

a {
	color: #039;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#page {
	margin: auto;
	width: 564px;
	text-align: left;
}

header {
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	padding-top: 30px;
	position: relative;
}

h1 {
	margin: 0 0 20px 0;
}

h1 a {
	color: #000;
}

h1 a .star {
	color: gold;
	text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}

h1 a:hover {
	text-decoration: none;
}

h1 a:hover .text {
	text-decoration: underline;
}

form {
	position: absolute;
	right: 0;
	bottom: 20px;
}

.tweet {
	position: relative;
	border-bottom: 1px solid #dedede;
	padding: 0 0 7px 0;
	margin-bottom: 10px;
}

.profile_image {
	position: absolute;
	left: 0;
	top: 2px;
	width: 48px;
	height: 48px;
	border-radius: 5px;
}

.tweet .content {
	margin-left: 58px;
}

.tweet .content .media {
	display: block;
	margin: 7px 0 0 0;
}

.tweet .content .media img,
.tweet .content .media video,
.tweet .content .quoted-status {
	display: inline-block;
	max-width: 506px;
	height: auto;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.tweet .content .quoted-status .media img {
	max-width: 472px;
}

.tweet .content .quoted-status {
	display: block;
	margin: 7px 0;
	padding: 12px 15px;
	position: relative;
}

.tweet .content .quoted-status .quoted-link {
	color: #999;
}

.tweet .content .quoted-status .quoted-link:hover {
	color: #039;
}

.tweet .content .animated-gif {
	position: relative;
}

.tweet .content .animated-gif {
	position: relative;
}

.tweet .content .animated-gif a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.tweet .content .animated-gif a .label {
	position: absolute;
	bottom: 15px;
	left: 10px;
	color: #ccc;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

.tweet .content .animated-gif a.playing .label {
	display: none;
}

.user a {
	color: #000;
}

.user a .name {
	font-weight: bold;
}

.user a .screen_name {
	color: #999;
	font-size: 12px;
}

.user a:hover {
	text-decoration: none;
}

.user a:hover .name {
	text-decoration: underline;
}

.entity {
	color: #36C;
}

.entity .text {
	color: #039;
}

.entity:hover {
	text-decoration: none;
}

.entity:hover .text {
	text-decoration: underline;
}

.meta {
	font-size: 11px;
}

.meta a {
	color: #999;
}

footer {
	padding: 5px 0 30px 0;
	position: relative;
}

.earlier, .later {
	color: #999;
	margin-right: 10px;
}

.credit {
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 12px;
}

.credit, .credit a {
	color: #999;
}

#rate-limit {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}

#rate-limit a,
.credit a {
	color: #999;
	text-decoration: underline;
}

#rate-limit a:hover,
.credit a:hover {
	color: #039;
}

body.setup header form {
	display: none;
}
